<section>
  <h2>关于</h2>
  <p>CCZU XNet 是一个面向常州大学学生的私有 P2P 网络，可用于内网穿透、文件共享、内部 web 服务等。</p>
  <p>ZeroTier 网络 ID：<b>c2381b9de99e5b0a</b></p>
  <p>使用方式见 <a href="https://github.com/cczu-osa/xnet-portal/wiki/%E4%BD%BF%E7%94%A8%E6%95%99%E7%A8%8B" target="_blank">使用教程</a>。
  </p>
</section>

<hr>

<section>
  <h2>登录信息</h2>
  <div class="media">
    <div class="media-body">
      <div class="media-heading">欢迎, <span>{{.User.Info.Name}}</span>! <a href="logout">注销</a></div>
      <div class="media-content user-info">
        <div class="user-info-item">学号: <span>{{.User.Info.Sid}}</span></div>
        <div class="user-info-item">院系: <span>{{.User.Info.School}}</span></div>
        <div class="user-info-item">专业: <span>{{.User.Info.Major}}</span></div>
      </div>
    </div>
  </div>
</section>

<hr>

<section>
  <h2>添加设备</h2>
  <form action="add-device" method="post" class="form">
    <fieldset class="form-group">
      <label for="address">*地址:</label>
      <input name="address" type="text" placeholder="##########" class="form-control">
      <div class="help-block">填写 ZeroTier One 中显示的十位设备地址（也叫 Node ID）</div>
    </fieldset>
    <fieldset class="form-group">
      <label for="name">名称:</label>
      <input name="name" type="text" placeholder="我的树莓派" class="form-control">
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary btn-block">添加</button>
    </div>
  </form>
</section>

<hr>

<section>
  <h2>设备列表</h2>
  <table id="device-table">
    <thead>
    <tr>
      <th>地址</th>
      <th>名称</th>
      <th>已分配 IP</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{range .User.Devices}}
    <tr>
      <td>{{.Address}}</td>
      <td>
        <form id="edit-device-form-{{.Address}}" action="edit-device" method="post">
          <input type="text" name="name" value="{{.Name}}">
          <input type="text" name="address" value="{{.Address}}" hidden>
          <a href="javascript:editDevice('{{.Address}}');">修改</a>
        </form>
      </td>
      <td>
      {{range .IPAssignments}}
        <div>{{.}}</div>
      {{end}}
      </td>
      <td>
        <form id="remove-device-form-{{.Address}}" action="remove-device" method="post">
          <input type="text" name="address" value="{{.Address}}" hidden>
          <a href="javascript:removeDevice('{{.Address}}');">移除</a>
        </form>
      </td>
    </tr>
    {{end}}
    </tbody>
  </table>

  <script>
    function editDevice(address) {
      document.querySelector(`#edit-device-form-${address}`).submit()
    }

    function removeDevice(address) {
      document.querySelector(`#remove-device-form-${address}`).submit()
    }
  </script>
</section>