<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>CCZU XNet</title>
</head>
<body>
<h1>CCZU XNet</h1>
<p>欢迎，<span class="name">{{.User.Info.Name}}</span>。</p>
<p>学号：<span class="sid">{{.User.Info.Sid}}</span></p>
<p>院系：<span class="school">{{.User.Info.School}}</span></p>
<p>专业：<span class="major">{{.User.Info.Major}}</span></p>
<p><a href="logout">注销</a></p>
</body>
</html>