<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>CCZU XNet</title>
</head>
<body>
<h1>CCZU XNet</h1>
<form action="login" method="post">
  <p><input type="text" name="sid" placeholder="学号"></p>
  <p><input type="password" name="password" placeholder="密码"></p>
  <p style="color: red;">{{.flash.error}}</p>
  <p><input type="submit" value="登录"></p>
  <p>注意：如果这是你第一次登录，可能需要 3～10 秒时间，请耐心等待</p>
</form>
</body>
</html>