<section>
  <h2>登录</h2>
  <form action="login" method="post" class="form">
    <fieldset class="form-group">
      <label for="sid">*学号:</label>
      <input name="sid" type="text" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label for="password">*密码:</label>
      <input name="password" type="password" class="form-control">
      <div class="help-block">填写教务网站密码，默认为身份证号后六位</div>
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary btn-block">登录</button>
      <div class="help-block">如果是第一次登录，可能需要 3～10 秒时间，请耐心等待</div>
    </div>
  </form>
</section>